body {
    background-color:aqua;
    text-align: center;
}
h1 {
    color: black;
}
.opcion-sticker {
    display: flex;
    justify-content: space-around;
    margin: 40px;
}

.sticker {
    text-align: center;
}

img {
    width: 300px;
    height: 300px;
   
}

button {
    background-color: green;
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
}